@{
    ViewBag.Title = "GC Coffee Shop";
}

<div class="header">
    <div class="container">
        <div class="row title">
            <h1 class="welcome moveInTop">Welcome to <span id="coffeeShop">GC</span> Coffee Shop<span id="coffeeShop">!</span></h1>
            <br />
            @Html.ActionLink("Sign Up", "Registration", "Home", new { @class = "btn btn-lg btn-default registerButton moveInBottom" })
        </div>
    </div>
</div>