@model Lab21CoffeeShop.Models.UserModel

@{ 
    ViewBag.Title = "GC Coffee Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row" id="FirstName">
        <h1 class="moveInTop">Welcome @ViewBag.Message</h1>
    </div>
    
</div>
    <h2>@Html.ActionLink("Register", "Registration", "Home", new { @class = "btn btn-default registerButton moveInBottom" })</h2>
    <h2>@Html.ActionLink("Products", "Products", "Home", new { @class = "btn btn-lg btn-default registerButton moveInBottom" })</h2>
    

